<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div class="top">
      <h1>Pacotes de Viagem</h1>
      <h3>(Você também pode personalizar a sua viagem de acordo com orçamento ou necessidades).</h3>
  </div>

  

  <!-- Botão para abrir o modal de adicionar novo pacote -->
  <button onclick="openAddModal()">Adicionar Pacote</button>

  <!-- Modal para adicionar novo pacote -->
  <div id="addModal" class="modal">
      <div class="modal-content">
          <span class="close" onclick="closeModal('addModal')">&times;</span>
          <h2>Adicionar Novo Pacote</h2>
          <form id="addForm">
              <div class="custom-select-wrapper">
                  <select id="novoPais" name="pais" class="custom-select" onchange="handleSelectChange(this)">
                      <option value="" disabled selected hidden>País</option>
                      <option value="Austrália">Austrália</option>
                      <option value="Recife - Brasil">Recife - Brasil</option>
                      <option value="Brasil">Brasil</option>
                      <option value="França">França</option>
                      <option value="Índia">Índia</option>
                      <option value="Japão">Japão</option>
                      <option value="Nova York">Nova York</option>
                  </select>
              </div>
              <input type="number" id="novoValorPassagem" name="valorPassagem" placeholder="Valor da Passagem" required>
              <input type="text" id="novaPassagem" name="passagem" placeholder="Passagem Aérea" required>
              <input type="text" id="novaValidade" name="validade" placeholder="Validade" required>
              <input type="text" id="novaDuracao" name="duracao" placeholder="Duração" required>
              <input type="text" id="novasSaidas" name="saidas" placeholder="Saídas" required>
              <input type="text" id="novaRefeicao" name="refeicao" placeholder="Refeição" required>
              <button type="button" onclick="addPacote()">Adicionar Pacote</button>
          </form>
      </div>
  </div>

  <!-- Modal para editar pacote -->
  <div id="editModal" class="modal">
      <div class="modal-content">
          <span class="close" onclick="closeModal('editModal')">&times;</span>
          <h2>Editar Pacote</h2>
          <form id="editForm">
              <input type="hidden" id="editId">
              <div class="custom-select-wrapper">
                  <select id="editPais" class="custom-select" onchange="handleSelectChange(this)">
                      <option value="">País</option>
                      <option value="Austrália">Austrália</option>
                      <option value="Recife - Brasil">Recife - Brasil</option>
                      <option value="Brasil">Brasil</option>
                      <option value="França">França</option>
                      <option value="Índia">Índia</option>
                      <option value="Japão">Japão</option>
                      <option value="Nova York">Nova York</option>
                  </select>
              </div>
              <input type="number" id="editValorPassagem" placeholder="Valor da Passagem" required>
              <input type="text" id="editPassagem" placeholder="Passagem Aérea" required>
              <input type="text" id="editValidade" placeholder="Validade" required>
              <input type="text" id="editDuracao" placeholder="Duração" required>
              <input type="text" id="editSaidas" placeholder="Saídas" required>
              <input type="text" id="editRefeicao" placeholder="Refeição" required>
              <button type="button" onclick="saveEdit()">Salvar</button>
              <button type="button" class="cancel" onclick="closeModal('editModal')">Cancelar</button>
          </form>
      </div>
  </div>
  </body>
  <script src="/script/script.js"></script>
</html>
